{% extends 'base.html' %}

{% block header %}
    <h1>Create a new campaign:</h1>
{% endblock %}

{% block content %}
<div class="third">
    <form method="post">
      <input class="stack" placeholder="Title" name="title" id="title" required>
      <input class="stack" placeholder="Artist"  name="artist" id="artist" required>
      <input class="stack" placeholder="Label"  name="label" id="label" required>
      <input class="stack" placeholder="Spotify Link" name="link_1" id="link_1" required>
      <input class="stack" placeholder="Apple Music Link" name="link_2" id="link_2">
      <input class="stack" placeholder="YouTube Link" name="link_3" id="link_3">
      <input class="stack" type="submit" value="Create!">
    </form>
  
  </div>
{% endblock %}