{% extends 'base.html' %}

{% block content %}


    <section class="hero-image content flex five center">
        <article class="three-fifth five-fifth-800">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            
            <div class="hero-content center">
        
                <h1 class="hero-title">
                    {% if g.user %}
                    Welcome back, {{ g.user['username'] }}!
                    {% else %}
                    {% block title %}Welcome to ReleaseLinks!{% endblock %}
                    {% endif %}
                </h1>
                <p>
                    The easy way to share streaming links to your fans
                </p>
                <p class="hero-icons">
                    <i class="fab fa-spotify"></i>
                    <i class="fab fa-itunes"></i>
                    <i class="fab fa-youtube"></i>
                </p>
                {% if g.user %}
                <a class="button" href="{{ url_for('user.profile', username=g.user['username']) }}">Dashboard</a>
                <br>
                <a class="button" href="{{ url_for('release.create') }}">Create New Release</a>
                {% else %}
                <a class="button" href="{{ url_for('auth.register') }}">Get Started</a>
                {% endif %}
                
                
            </div>

        </article>

    </section>
{% endblock %}