<!doctype html>
<head>
    <title>ReleaseLinks - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='picnic.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <nav>
        <a href="/" class="brand">ReleaseLinks</a>

        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">
            <i class="fas fa-bars"></i>
        </label>

        <div class="menu">
            {% if g.user %}
                <a href="{{ url_for('user.profile', username=g.user['username']) }}" class="pseudo button">
                    {{ g.user['username'] }}
                </a>
                <a href="{{ url_for('auth.logout') }}" class="pseudo button">
                    Log Out
                </a>
            {% else %}
                <a href="{{ url_for('auth.register') }}" class="pseudo button">
                    Register
                </a>
                <a href="{{ url_for('auth.login') }}" class="pseudo button">
                    Login
                </a>
            {% endif %}
        </div>
    </nav>
    <main class="hero">
        <section class="content flex five center">
            <article class="three-fifth five-fifth-800">
                <!-- <header>
                    
                </header> -->
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                
                {% block content %}{% endblock %}

            </article>

        </section>

    </main>
</body>